:root{
    --movies-red:#fd6564;
    --ligth-grey:#dddddd;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* -------------------------<HEADER>--------------------- */
.Header_container,
.main_container{
   width: 100%;
   /* max-width: 1024px;
   min-width: 320px; */
   height: auto;
   font-size: 1.6rem;
   /* margin: 0 auto; */
}
.header_container-nav{
    width: 100%;
    min-width: 320px;
    display: grid;
    grid-template-columns: 16.4rem 60% 20%;
    height: 90px;
    box-shadow:  0 4px 2px -1px #dddddd;
    justify-content: center;
}
.header_nav-logo{
    background-image: url(../assets/popcorn.png);
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}
.header_nav-logo p{
    font-size: 3rem;
    margin-left: 6rem;
    margin-top: 1rem;
    color: var(--movies-red);
}
.header_nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_nav-search input{
    width: 90%;
    height: 4rem;
    border: 1px solid #dad9de;
    border-radius: 8px;
    padding: 5px;
}
.header_nav-search input:focus{
    outline-color: var(--movies-red);
    outline-width: 1px;
}
.header_nav-userImg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
}
.header_nav-userImg img{
    border-radius: 50%;
    width: 60px;
    min-width: 50px;
}
.header_nav-userIm p{
    font-weight: bold;
}
.down-arrow{
    display: inline;
    width: 32px;
    height: 32px;
    background-image: url(../assets/mdi_keyboard_arrow_down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
/* -------------------------</HEADER>--------------------- */
/* -------------------------<MAIN>--------------------- */
/* -------------------------<SIDEBAR>--------------------- */

.main_container-content{
    width: 100%;
    min-width: 320px;
    display: grid;
    grid-template-columns: 1fr 90%;
    height: 100vh;
}
.sidebar_container{
   width: 100%;
   min-width: 70px;
   min-height: 60rem;
    background-color: var(--movies-red);
}
.sidebar_nav-container{
    width: 100%;
    /* margin: 0 auto; */
    height: 50rem;
    
}
.sidebar_nav-container ul{
    list-style: none;
    margin-top: 20px;
    width: 100%;
    min-height: 60rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;

}
.sidebar_nav-container ul li {
    width: 70%;
    display: flex;
    justify-content: center;
}
.sidebar_nav-container ul li a{
    width: 100%;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.sidebar_nav-container ul li:nth-of-type(4){
    align-self: flex-end;
}
.fas{
    display: inline-block;
    width: 100%;
}
.home{
    width: 32px;
    height: 32px;
    background-image: url(../assets/iconos/home-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert();
}
.trending{
    width: 32px;
    height: 32px;
    background-image: url(../assets/iconos/170-fire.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert();
}
.likes{
    width: 32px;
    height: 32px;
    background-image: url(../assets/iconos/heart-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert();
}
.ajustes{
    width: 32px;
    height: 32px;
    background-image: url(../assets/iconos/cog-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert();
}
.hamburguesa{
    display: none;
}
/* -------------------------</SIDEBAR>--------------------- */
/* -------------------------<CONTENT>--------------------- */
.movies_container{
    width: 100%;
    display: grid;
    grid-template-rows: 70px 1fr;
    margin: 0 auto;
    height: auto;
    min-width: 280px;
    max-width: 1024px;
    
}
.movies_container-title{
    font-size: 3rem;
    margin: 10px;
    padding: 10px;
}
.movies_container-card{
    width: 100%;
    display: grid;
    grid-template: repeat(3,1fr)/ repeat(auto-fill, 250px);
    grid-row-gap: 10px;
    grid-column-gap: 3px;
    justify-content: space-evenly;
}
.card-container{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    height: 181px;
    width: auto;
    min-width: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
 
}
.card-container .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-container .card-img img:hover{
    transform: scale(1.2);
    transition: .7s;

}
.card-overlay{
    border: 1px solid var(--movies-red);
    width: 100%;
    height: auto;
    background-color: var(--movies-red);
    position: absolute;
    top: 140px;
    overflow-y:hidden ;
}

.card-overlay:hover{
    top: 0;
    height: 181px;
    background: rgba(253, 101, 100, .5);
    transition: .6s;
}
.card-overlay h3{
    font-size: 2rem;
    padding: 5px 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
}
.card-overlay p{
    padding: 10px;
    text-align: start;
    font-size: 1.4rem;
    
}

/* -------------------------</CONTENT>--------------------- */
/* -------------------------</MAIN>--------------------- */
